
<app-header [pageTitle]="pageTitle"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img src="assets/img/gato.jpg" alt="">
          <ion-card-title>Ariel Roa</ion-card-title>
          <ion-card-subtitle>Ingenieria en informatica</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
            <img src="assets/img/tofu.png" alt="">
          <ion-card-title>Ignacio Mardones</ion-card-title>
          <ion-card-subtitle>Ingenieria en informatica</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
            <img src="assets/img/maxi.jpg" alt="">
          <ion-card-title>Maximiliano Sanchez XD</ion-card-title>
          <ion-card-subtitle>Capitan Peru</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Me quieren agitar
              Me incitan a gritar
              Soy como una roca
              Palabras no me tocan
              Adentro hay un volcán
              Que pronto va a estallar
              Yo quiero estar tranquilo
              Es mi situación
              Una desolación
              Soy como un lamento
              Lamento boliviano
              Que un día empezó
              Y no va a terminar
              Y a nadie hace daño
              Uoh, io, io, io-uoh-oh, ye-eh-eh-eh, yeh-eh
              Y yo estoy aquí
              Borracho y loco
              Y mi corazón idiota
              Siempre brillará (Siempre brillará)
              Y yo te amaré
              Te amaré por siempre
              Nena, no te peines en la cama
              Que los viajantes se van a atrasar
              Uoh, io, io, io-uoh-oh, ye-eh-eh-eh, yeh-eh
              Y hoy estoy aquí
              Borracho y loco
              Y mi corazón idiota
              Siempre brillará (Siempre brillará)
              Y yo te amaré
              Te amaré por siempre
              Nena, no te peines en la cama
              Que los viajantes se van a atrasar
              Y yo estoy aquí
              Borracho y loco
              Y mi corazón idiota
              Siempre brillará (Siempre brillará)
              Y yo te amaré
              Te amaré por siempre
              Nena, no te peines en la cama
              Que los viajantes se van a atrasar
        </ion-card-content>
      </ion-card>
</ion-content>
